#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills>h1{
    margin-top: 50px;
}
.skill-page{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.skill-list{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    width: 80%;
}
.skill-png{
  width: 20%;
}
.skill-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-logo>div>img{
    width: 50px; 
}

.skill-logo>div:hover{
    animation: rotate1 2s ease-in-out infinite;
}

#logo-redux>div>img{ 
    transform-origin: center;
    animation: rotate2 5s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 770px) {
  #skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
  .skill-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-right: -40px;
}
.skill-png>img{
  display: none;
}
}